<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="shortcut icon" href="{{ site.favicon }}">
  <script src="https://cdn.bootcdn.net/ajax/libs/analytics.js/2.9.1/analytics.min.js"></script>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  {%- feed_meta -%}
  {%- include extensions/code-highlight.html -%}
  {%- include extensions/lazy-load.html -%}
</head>
