<section class="reward">
    <div class="reward-word">
        <span class="reward-reward">赏</span>
        <div class="reward-container">
            <div class="reward-arrow"></div>
            <div class="reward-content">
                <div class="reward-img">
                    <img class="reward-img-content" alt="支付宝" src="{{ "/assets/images/reward/reward.jpg" | relative_url }}">
                </div>
                <span class="reward-img-word">
            Alipay
        </span>
            </div>
        </div>
    </div>
</section>
